html {
  font-size: 16px;
  min-width: 300px
}

body {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  color: #3c415e;
  background-color: #113f67;
}

h1, h2, h3 {
  font-family: 'Major Mono Display', monospace;
  line-height: 1.75;
}

h1 {
  color: #1cb3c8;
  font-size: 2rem;
}

h2 {
  color: #113f67;
  font-size: 1.5rem;
}

h3 {
  color: #1cb3c8;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

td {
  padding: 1rem;
  margin: 0 auto;
}

.mobile {
  display: none;
  margin: 0 auto;
  text-align: center;
}

#sidebar {
  position: fixed;
  background-color: #738598;
  width: 30%;
  left: 0;
  top: 0;
  bottom: 0;
}

#sidebar li {
  margin-top: 2rem;
}

#sidebar a {
  font-family: 'Major Mono Display', monospace;
  color: #dfe2e2;
  padding: 1rem;
  margin: 1rem;

}

#sidebar a:hover {
  color: #113f67;
}

#page-content {
  margin-left: 30%;
}

#page-content a {
  color: #738598;
}

#page-content a:hover {
  color: #1cb3c8;
}

.container {
  width: 50%;
  padding: 2rem;
  margin: 2rem auto;
  background-color: #dfe2e2;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #738598;
}

.text-center {
  text-align: center;
}

.profile p {
  margin-bottom: 1.75rem;
}

.profile-pic {
  width: 40%;
  border-radius: 50%;
  border: 1px solid lightgrey;
  height: auto;
}

#page-content .button-blue {
  border-radius: 3px;
  background-color: #1cb3c8;
  color: #113f67;
  margin: 2rem auto;
  padding: 1rem;
}

#page-content .button-blue:hover {
  color: #1cb3c8;
  background-color: #113f67;
}

.list-inline {
  margin: 0;
  padding: 0;
}

.list-inline li {
  margin: 1rem;
  display: inline-block;
}

.poster {
  border-radius: 3px;
  max-height: 250px;
  width: auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  html {
    font-size: 14px;
  }
  .mobile {
    display: block;
  }
  .web {
    display: none;
  }
  h3, p {
    text-align: center;
  }
}
